build/
.DS_Store
.svn/
*.mode1
*.mode1v3
*.pbxuser
AppExplorer/AppExplorer.xcodeproj/xcuserdata/simon.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
AppExplorer/AppExplorer.xcodeproj/project.xcworkspace/
/AppExplorer/dsa_priv.pem